<h1 id="header">wpis</h1>


<div>
	<h2><%= @entry.title %></h2>
	<p class="date"><%= @entry.date.strftime('%d-%m-%Y') %></p>
	<p><%= @entry.contents %></p>
	 <p><%= @entry.breed %></p>
</div>
