


 	<h1>Strona o kotach</h1>
 	<div>
		<h2>Cośtam cośtam</h2>
		<p>dużo tekstu bar  djaojdapfka dużo i bez sensu</p>
		<p>21.05.2016</p>

		<h3>Kot syjamski
		kot perski
		Dachowiec polski</h3>

		<h4> duużo tekstu bshoiasssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss
		oiasssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssoiasssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss	ssssoiasssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss
		oiasssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss
		oiasssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssoiasssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssoiassssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss
		oiasssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssoiasssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss	ssssoiasssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss
		oiasssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss
		oiasssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssoiasssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssoiasssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</h4>
 	</div>


 	<div>

 	

 		<ul>

 			  
<ul>
	<% @websites.each do |website| %>
  	<li><a href="<%= website[:url] %>"> <%= website[:name] %></a></li>
  <% end %>
</ul>


 		</ul>

 	</div>

 	<img src="http://www.koty.pl/gfx/koty2/pl/kotykatalogras/28/63/1/1790414512.jpg">

<img src="https://pbs.twimg.com/profile_images/616542814319415296/McCTpH_E.jpg">